In [74]:
import numpy as np
import pandas as pd

In [91]:
train_data = np.random.randint(0, 100, size=(10, 215, 215, 1))
train_labels = np.random.randint(0, 2, size=(10, )).tolist()
people = ['2', '2', '3', '3', '4', '4', '6', '7', '9' , '0']

In [86]:
def split_clients_into_dict(people, *args):
    array = []
    for arg in args:
        dic = {}
        for key, value in zip(people, arg):
            dic.setdefault(key, []).append(value)
#         for key in dic.keys():
#             dic[key] = np.array(dic[key])
        if len(args) == 1:
            return dic
        else:
            array.append(dic)
    return tuple(array)

In [92]:
tl = split_clients_into_dict(people, train_labels)
# train_data = split_clients_into_dict(people, train_data)

In [97]:
pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in tl.items() ]))

   2  3  4    6    7    9    0
0  0  1  1  1.0  0.0  0.0  1.0
1  1  1  0  NaN  NaN  NaN  NaN

In [75]:
pd.DataFrame(np.arange(9).reshape(3,3), columns=['A', 'B', 'C'])

   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8

In [99]:
d = {'a': [0,1]}

In [101]:
d['a'] = d['a'].pop(0)

In [102]:
d

{'a': 0}