In [1]:
import os, sys
import pandas as pd
import numpy as np
from functools import reduce

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from Scripts import Data_Loader_Functions as dL
from Scripts import Results_Evaluation as rE
RESULTS = os.path.join(module_path, 'Results', 'Thesis')
DATA = os.path.join(module_path, 'Data', 'Augmented Data')

In [49]:
# Create DF with TP TN FP FN
df = pd.read_csv(os.path.join(module_path, "FDL_all_NEW.csv"))

In [50]:
# Load Pivot & Subjects
pivot = dL.create_pivot(os.path.join(DATA, 'group_2'), 'Session', 'Person', 'Session')
subjects = dL.create_pain_df(os.path.join(DATA, 'group_2'))['Person'].unique()

In [51]:
def filter_granular_results(df, subjects, pivot, model_name):
    
    # Add columns to df [TP, TN, FP, FN]
    df['label'] = np.minimum(df['True Label'], 1)
    df['prediction'] = df[model_name].round()
    df['TP'] = (df['label'] == 1) & (df['prediction'] == 1)
    df['TN'] = (df['label'] == 0) & (df['prediction'] == 0)
    df['FP'] = (df['label'] == 0) & (df['prediction'] == 1)
    df['FN'] = (df['label'] == 1) & (df['prediction'] == 0)

    # Prepare pivot to be merged with df
    columns = np.insert(subjects.astype(object), 0, 'Session')
    pivot = pivot.reset_index()[columns].drop(0).reset_index(drop=True)
    pivot_has_positive = pivot[pivot.columns[1:]] != ''
    pivot_has_positive['Session'] = pivot['Session']
    pivot_has_positive = pivot_has_positive.drop(9)
    unpivot_has_positive = pivot_has_positive.melt(id_vars=['Session'])
    unpivot_has_positive = unpivot_has_positive.rename(columns={'Person': 'Subject ID', 'value': 'has_positive'})

    # Merge pivot and df to indicate, which subjects have positive examples in a given session
    df_merge = df.merge(unpivot_has_positive)
    
    # Return only those session/subject combinations that have positive examples
    return df_merge[df_merge['has_positive']]

In [53]:
df_merge_has_positive = filter_granular_results(df, subjects, pivot, 'FDL')

In [60]:
df_test = df_merge_has_positive[(df_merge_has_positive['Subject ID'] == 43) & (df_merge_has_positive['Seed'] == 123) & (df_merge_has_positive['Session'] == 4)]

In [61]:
print("TP: ", df_test['TP'].sum())
print("TN: ", df_test['TN'].sum())
print("FP: ", df_test['FP'].sum())
print("FN: ", df_test['FN'].sum())
print("ACC: ", (df_test['TP'].sum() + df_test['TN'].sum()) / len(df_test))

TP:  34
TN:  430
FP:  10
FN:  194
ACC:  0.6946107784431138

In [47]:
df_1 = pd.read_csv(os.path.join(module_path, 'Results/Thesis/NEW/123 - Seed 123 - Sessions NEW/2020-01-26-010842_PAIN_0-sessions-centralized-pre-training_TEST.csv'))
df_2 = pd.read_csv(os.path.join(module_path, 'Results/Thesis/NEW/123 - Seed 123 - Sessions NEW/2020-01-25-231525_PAIN_2-sessions-Centralized-pre-training_TEST.csv'))
df_3 = pd.read_csv(os.path.join(module_path, 'Results/Thesis/NEW/123 - Seed 123 - Sessions NEW/2020-01-25-234643_PAIN_4-sessions-Federated-central-pre-training_TEST.csv'))
df_4 = pd.read_csv(os.path.join(module_path, 'Results/Thesis/NEW/123 - Seed 123 - Sessions NEW/2020-01-26-003549_PAIN_7-sessions-Federated-central-pre-training-personalization_TEST.csv'))
df_5 = pd.read_csv(os.path.join(module_path, 'Results/Thesis/NEW/123 - Seed 123 - Sessions NEW/2020-01-26-010705_PAIN_10-sessions-Federated-central-pre-training-local-models_TEST.csv'))

In [65]:
print("TP: ", df_3['subject_43_true_positives'][3])
print("TN: ", df_3['subject_43_true_negatives'][3])
print("FP: ", df_3['subject_43_false_positives'][3])
print("FN: ", df_3['subject_43_false_negatives'][3])

TP:  34.0
TN:  430.0
FP:  10.0
FN:  194.0

In [34]:
print(df[(df['Session'] == 0) & (df['Subject ID'] == 59) & (df['Seed'] == 123)]['TP'].sum())
print(df[(df['Session'] == 0) & (df['Subject ID'] == 59) & (df['Seed'] == 123)]['TN'].sum())
print(df[(df['Session'] == 0) & (df['Subject ID'] == 59) & (df['Seed'] == 123)]['FP'].sum())
print(df[(df['Session'] == 0) & (df['Subject ID'] == 59) & (df['Seed'] == 123)]['FN'].sum())

0
496
1124
0

In [40]:
print(len(df[(df['Session'] == 1) & (df['Subject ID'] == 59) & (df['Seed'] == 123)]))

1472

In [39]:
pivot

Person,43,48,52,59,64,80,92,96,107,109,115,120,# of Persons,Pain,No Pain,Pain %
Session,,,,,,,,,,,,,,,,
0,140,,72,,244,1052,464,,32,,60,116,12,2180,12424,0.15
1,,148,,532,64,536,696,,,600,,,12,2576,8792,0.23
2,,,,,64,484,,,848,,220,,11,1616,8756,0.16
3,,,,,,484,,,60,,56,188,11,788,7696,0.09
4,228,,,,248,660,724,112,828,,60,,11,2860,7276,0.28
5,,188,,,,792,,,,116,,,9,1096,7380,0.13
6,,,44,,,264,,512,,,,,8,820,4852,0.14
7,,,,,,,,,,,,,6,,3788,
8,,,120,,,,,88,,,,,3,208,3200,0.06
9,,,188,,,,,,,,,,1,188,1684,0.1
Total,368,336,424,532,620,4272,1884,712,1768,716,396,304,84,12332,65848,0.16